<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945129258647-eud9qruu14k86d6jlnj34ahk9mbnjo1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945129258647-eud9qruu14k86d6jlnj34ahk9mbnjo1f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>945129258647-jjso3145tntmob16atb59rm1unqpe4p8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiEW1Cw51zJXFpLo6XWyYgiCZfB0ukA6k</string>
	<key>GCM_SENDER_ID</key>
	<string>945129258647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs-flutter.googleapi</string>
	<key>PROJECT_ID</key>
	<string>csflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>csflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945129258647:ios:56eed0d098c0311f83b3d2</string>
</dict>
</plist>